bin/*
pkg/*
!.gitkeep

.vendor


*.o
*.a
*.so


*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

.idea/

*.ipr
*.iws
out/



.DS_Store
.AppleDouble
.LSOverride



.env.local
.env

go.mod